* {
    font-family: JetBrains Mono;
    font-size: 12;
    border: none;
}

#battery, #memory, #cpu, #pulseaudio, #custom-media, #clock, #workspaces, #mode, #network, #custom-audio {
    border-radius: 20px;
    background:  #041119;
    padding-left: 16px;
    padding-right: 16px;
}

window#waybar {
    background: transparent;
}

#workspaces {
    font-weight: 700;
}

#workspaces button, #workspaces button.persistent {
    margin: 0 -5px;
    background: transparent;
    color: #084252;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
}

#workspaces button.focused {
    color: #41a8a9;
}

#custom-media {
    color: #5c32a8;
}

#mode {
    color: #ffffff;
}

#clock {
    padding: 0 20px;
    color: #41a8a9;
    font-weight: 700;
}

#network {
    color: #f57e42;
}

#pulseaudio, #custom-audio {
    color: #1f71cc;
}

/* Couldn't figure out why horizontal groups weren't working so make cpu + memory look like a group with css*/
#cpu {
    color: #18f085;
    padding-right: 0;
    border-radius: 20px 0 0 20px;
}
#memory {
    color: #18f085;
    margin-left: -8px;
    border-radius: 0 20px 20px 0;
    padding-left: 0;
}

#battery {
    color: #fce402;
}

